@page
@model CoreTaskManager.Pages.Progresses.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Progress</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Progress.Title" class="control-label"></label>
                <input asp-for="Progress.Title" class="form-control" />
                <span asp-validation-for="Progress.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Progress.Genre" class="control-label"></label>
                <input asp-for="Progress.Genre" class="form-control" />
                <span asp-validation-for="Progress.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Progress.SlackAppUrl" class="control-label"></label>
                <input asp-for="Progress.SlackAppUrl" class="form-control" />
                <span asp-validation-for="Progress.SlackAppUrl" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Progress.Description" class="control-label"></label>
                <input asp-for="Progress.Description" class="form-control" />
                <span asp-validation-for="Progress.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                イメージ画像<input type="file" name="file" multiple/><br />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>


</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
