@page
@model CoreTaskManager.Pages.Progresses.IndexModel

@{
    ViewData["Title"] = "Index";
}
<br />
@*タイトル*@
<div class="jumbotron">
    <h1 class="display-4">進捗一覧</h1>
    <p class="lead">
        ここでは作成されたタスク管理を見ることができます。作成者で検索をかけることも可能です。
    </p>
    <hr class="my-4" />
    <p>新たなタスク管理を作成しましょう。</p>
    <p class="lead">
        <a class="btn btn-primary" asp-page="/Progresses/Create">
            新規作成
        </a>
    </p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            @*検索*@
            <form method="get">
                <p>
                    <select asp-for="ProgressGenre" asp-items="Model.Genres">
                        <option value="">All</option>
                    </select>
                </p>
                Title: <input type="text" name="SearchString" />
                <input type="submit" value="Filter" class="btn btn-outline-secondary" />
            </form>
        </div>
        <br />
        <div class="col-md-2">
            <partial name="_Pager" />
        </div>
    </div>
</div>
<partial name="_ProgressesList" />
<br />
<partial name="_Pager" />
@Html.AntiForgeryToken()
@section Scripts {
    <script src="~/js/Progresses.js"></script>
}


