@page
@model CoreTaskManager.Pages.TaskManager.IndexModel

@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = Model.ThisProgress.Title;
}

<link href="~/css/TaskManagercss.css" rel="stylesheet" />
<h2>@ViewData["Title"]</h2>
@*ボタン群*@
<br />
<div class="container">
    <div class="row">
        <div class="col-md-2">
            @*まだタスクが登録されていないときのみタスク設定できる*@
            @if (Model.ThisProgress.UserName == User.Identity.Name)
            {
                <a class="btn btn-warning" href="../OwnerPage?progressIdString=@Model.ThisProgress.Id.ToString()">
                    管理画面
                </a>
            }
        </div>
    </div>
    <br />
    <partial name="_JoinOut" />
    <br />
    <partial name="_ProgressTable" />
</div>
@Html.AntiForgeryToken()
@section Scripts {
    <script src="~/js/TaskManager.js"></script>
}

