@page
@model CoreTaskManager.Pages.OwnerPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>管理者画面</h2>
<h3>申請一覧</h3>
<br />
<div id="unappliedTaskTable"></div>
@Html.AntiForgeryToken()
@section Scripts {
    <script src="~/js/OwnerPage.js"></script>
}
