@page
@model CoreTaskManager.Pages.OwnerPage.IndexModel
@{
    ViewData["Title"] = "Index";
}
<link href="~/css/OwnerPage.css" rel="stylesheet" />
<h2>管理者画面</h2>
<h3>申請一覧</h3>
<br />
<div class="container wrap">
    <div class="row">
        <div class="col-md-2">
            @*まだタスクが登録されていないときのみタスク設定できる*@
            @if (Model.ThisProgress.NumberOfItems == 0 && Model.ThisProgress.UserName == User.Identity.Name)
            {
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registerNew" id="modalButton">
                    タスク設定
                </button>
            }
        </div>
    </div>
</div>
<br />
<div class="container scroll">
    <div class="row">
        <div class="col-12">
            <div id="unappliedTaskTable"></div>
        </div>
    </div>
</div>
@*承認モーダル*@
<div class="modal fade" id="approval" tabindex="-1" role="dialog" aria-labelledby="#approvalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="approval">確認</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>コメント</label>
                <br />
                <div id="aSingleWord"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" id="approvalRequestButton">承認</button>
                <button class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
            </div>
        </div>
    </div>
</div>
@*タスク登録モーダル*@
<div class="modal fade" id="registerNew" tabindex="-1" role="dialog" aria-labelledby="#registerNewTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerNewTitle">新規登録</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group" id="1">
                    <div id="task1Alert" class="alert1"></div>
                    <label>・タスク1(15文字以内)</label>
                    <input type="text" id="task1" class="form-control" />
                </div>
                @*追加タスク*@
                <div id="addedTask"></div>
                <div class="col-xs-offset-2 col-xs-10">
                    <input type="button" class="btn btn-default" value="タスク追加" id="addTask" />
                    <input type="button" class="btn btn-default" value="タスク削減" id="removeTask" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="modalClose" data-dismiss="modal">閉じる</button>
                <button type="button" class="btn btn-primary" id="transmitTaskData">変更を保存</button>
            </div>
        </div>
    </div>
</div>
@Html.AntiForgeryToken()
@section Scripts {
    <script src="~/js/OwnerPage.js"></script>
}
