@page
@model CoreTaskManager.Pages.OwnerPage.IndexModel
@{
    ViewData["Title"] = "Index";
}
<link href="~/css/OwnerPage.css" rel="stylesheet" />
<h2>管理者画面</h2>
<h3>申請一覧</h3>
<br />
<partial name="_setTasks" />
<br />
<partial name="_UnAppliedTable" />
@Html.AntiForgeryToken()
@section Scripts {
    <script src="~/js/OwnerPage.js"></script>
}
